.hero-wrapper {
    background: url("https://images.rawpixel.com/image_1000/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTM2OTgxMy1pbWFnZS1rd3Z4eHA5MS5qcGc.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.herobox {
    padding: 0 3em;
    max-width: 800px;
    font-family: 'Gordita', sans-serif;
    color: white;
    text-shadow: 0px 0px 30px rgba(255,255,255,0.4);
}

.herobox h1 {
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 4em;
    font-style: italic;
}

.herobox p {
    padding-top: 1em;
    font-size: 1.3em;
}