.modal-container {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
}


.modal {
    position: fixed;
    z-index: 4;
    background: white;
    border-radius: 10px;
    top: 10vh;
    bottom: 10vh;
    padding: 1rem;
    width: 800px;
    max-width: 90%;
    margin: auto;
    overflow-y: scroll;
}

.heading {
    margin-top: .5em;
}

.cartList {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}





.cartTotal {
    text-align: end;
    font-weight: bold;
    font-size: 1.3em;
}

.totalAmount {
    font-weight: bolder;
}

.newAddressInput {
    width: 100%;
    padding: .8em;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-top: 1em;
}



.actionButtons {
    margin-top: 1em;
    text-align: end;
}

.cancelButton {
    margin-left: 1em;
    padding: .8em;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
}

.cancelButton:hover {
    background-color: #eee;
}

.cancelButton:active {
    background-color: #ddd;
}

.orderButton {
    margin-left: 1em;
    padding: .8em;
    border: 1px solid #333;
    color: white;
    background-color: rgb(100,60,50);
    border-radius: 4px;
}

.orderButton:hover {
    background-color: rgb(80,40,30);
}

.orderButton:active {
    background-color: rgb(60,20,10);
}